<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active"
      >Angular Recipes 🍳<span class="visually-hidden">(current)</span></a
    >
    <a
      class="nav-item nav-link"
      routerLinkActive="active"
      routerLink="/listdetail"
      >List-Detail</a
    >
    <a
      class="nav-item nav-link"
      routerLinkActive="active"
      routerLink="/filteronaction"
      >Filter on Action</a
    >
  </div>
</nav>
<br />
<div class="container">
  <router-outlet></router-outlet>
</div>
